@import './base.css';

.line {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.component-wrpr {
    margin: 25px;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}