body {
    width: 100vh;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}